/* Cursor */
.cursor {
    position: relative;
    max-width: fit-content;
    border-right: 2px solid rgba(255, 255, 255, 1);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.typewriter-animation {
    animation: typewriter 5s steps(50) 1s 1 normal both, blinkingCursor 500ms steps(50) infinite normal;
    /* animation: typewriter 5s steps(50) 1s infinite alternate, blinkingCursor 500ms steps(50) infinite normal; */
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinkingCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}
